.card {
  padding: 1rem;
  height: 30vh;
  display: flex;
  align-items: center;

  border: 1px solid #222f3e;
  border-radius: .5rem;
  box-shadow: 0 .5rem .8rem rgba(87, 101, 116, .6);
}

.card img {
  height: 100%;
  width: 25%;
  object-fit: cover;
}

.cardText {
  padding: 1rem;
  height: 100%;
  flex: 1;
}

.author {
  font-weight: normal;
  color: rgba(87, 101, 116, 1.0);
}